.container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
}

.container .block {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

.area {
    min-height: 320px;
    min-width: 320px;
    border: 1px dashed black;
    margin: 10px;
}

.messages {
    height: 320px;
    width: 320px;
    border: 1px groove;
    overflow-y: scroll;
    word-wrap: break-word;
}

.messages > .message {
    padding: 2px;
    font-size: small;
}

.seaContainer {;
    min-width: 320px;
}

.seaContainer > .sea {
    min-width: 320px;
    height: 320px;
    table-layout: fixed;
    overflow: hidden;
}

.sea > tr {
    width: 100%;
}

.sea > tr > td {
    border: 1px solid grey;
    min-width: 10%;
    height: 10%;
}

.sea > tr > td:hover {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.cell{
    border: 1px solid black;
    cursor: pointer;
}

.dead {
    background: #ff0000;
}

.miss {
    background: #FFFFFF;
}

.boat {
    background: #222222;
}

.water {
    background: lightskyblue;
}

footer p{
    display: block;
    font-family: 'Comic Sans MS', cursive;
    text-align: right;
}
